@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Sono:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  overflow-y: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
